
$svg-icon-font-size: 10px !default;

$svg-sprite-width: 6869px;
$svg-sprite-height: 6919px;
$svg-sprite-path: '/assets/images/svg-sprite.svg';
$svg-cancel-name: 'cancel';
$svg-cancel-x: 0px;
$svg-cancel-y: 0px;
$svg-cancel-offset-x: 0px;
$svg-cancel-offset-y: 0px;
$svg-cancel-width: 507.2px;
$svg-cancel-height: 507.2px;
$svg-cancel-total-width: 6869px;
$svg-cancel-total-height: 6919px;
$svg-cancel-image: '/assets/images/svg-sprite.svg';
$svg-cancel: (0px, 0px, 0px, 0px, 507.2px, 507.2px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'cancel', );
$svg-checked-name: 'checked';
$svg-checked-x: 508px;
$svg-checked-y: 508px;
$svg-checked-offset-x: -508px;
$svg-checked-offset-y: -508px;
$svg-checked-width: 507.2px;
$svg-checked-height: 507.2px;
$svg-checked-total-width: 6869px;
$svg-checked-total-height: 6919px;
$svg-checked-image: '/assets/images/svg-sprite.svg';
$svg-checked: (508px, 508px, -508px, -508px, 507.2px, 507.2px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'checked', );
$svg-media-container--clicker-name: 'media-container--clicker';
$svg-media-container--clicker-x: 1016px;
$svg-media-container--clicker-y: 1016px;
$svg-media-container--clicker-offset-x: -1016px;
$svg-media-container--clicker-offset-y: -1016px;
$svg-media-container--clicker-width: 512px;
$svg-media-container--clicker-height: 512px;
$svg-media-container--clicker-total-width: 6869px;
$svg-media-container--clicker-total-height: 6919px;
$svg-media-container--clicker-image: '/assets/images/svg-sprite.svg';
$svg-media-container--clicker: (1016px, 1016px, -1016px, -1016px, 512px, 512px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--clicker', );
$svg-media-container--expand-name: 'media-container--expand';
$svg-media-container--expand-x: 1528px;
$svg-media-container--expand-y: 1528px;
$svg-media-container--expand-offset-x: -1528px;
$svg-media-container--expand-offset-y: -1528px;
$svg-media-container--expand-width: 489.3px;
$svg-media-container--expand-height: 489.3px;
$svg-media-container--expand-total-width: 6869px;
$svg-media-container--expand-total-height: 6919px;
$svg-media-container--expand-image: '/assets/images/svg-sprite.svg';
$svg-media-container--expand: (1528px, 1528px, -1528px, -1528px, 489.3px, 489.3px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--expand', );
$svg-media-container--fullscreen-name: 'media-container--fullscreen';
$svg-media-container--fullscreen-x: 2018px;
$svg-media-container--fullscreen-y: 2018px;
$svg-media-container--fullscreen-offset-x: -2018px;
$svg-media-container--fullscreen-offset-y: -2018px;
$svg-media-container--fullscreen-width: 384.97px;
$svg-media-container--fullscreen-height: 384.97px;
$svg-media-container--fullscreen-total-width: 6869px;
$svg-media-container--fullscreen-total-height: 6919px;
$svg-media-container--fullscreen-image: '/assets/images/svg-sprite.svg';
$svg-media-container--fullscreen: (2018px, 2018px, -2018px, -2018px, 384.97px, 384.97px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--fullscreen', );
$svg-media-container--media-layout-main-name: 'media-container--media-layout-main';
$svg-media-container--media-layout-main-x: 2403px;
$svg-media-container--media-layout-main-y: 2403px;
$svg-media-container--media-layout-main-offset-x: -2403px;
$svg-media-container--media-layout-main-offset-y: -2403px;
$svg-media-container--media-layout-main-width: 100px;
$svg-media-container--media-layout-main-height: 125px;
$svg-media-container--media-layout-main-total-width: 6869px;
$svg-media-container--media-layout-main-total-height: 6919px;
$svg-media-container--media-layout-main-image: '/assets/images/svg-sprite.svg';
$svg-media-container--media-layout-main: (2403px, 2403px, -2403px, -2403px, 100px, 125px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--media-layout-main', );
$svg-media-container--media-layout-tiles-name: 'media-container--media-layout-tiles';
$svg-media-container--media-layout-tiles-x: 2503px;
$svg-media-container--media-layout-tiles-y: 2528px;
$svg-media-container--media-layout-tiles-offset-x: -2503px;
$svg-media-container--media-layout-tiles-offset-y: -2528px;
$svg-media-container--media-layout-tiles-width: 100px;
$svg-media-container--media-layout-tiles-height: 125px;
$svg-media-container--media-layout-tiles-total-width: 6869px;
$svg-media-container--media-layout-tiles-total-height: 6919px;
$svg-media-container--media-layout-tiles-image: '/assets/images/svg-sprite.svg';
$svg-media-container--media-layout-tiles: (2503px, 2528px, -2503px, -2528px, 100px, 125px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--media-layout-tiles', );
$svg-media-container--metal-paper-clip-name: 'media-container--metal-paper-clip';
$svg-media-container--metal-paper-clip-x: 2603px;
$svg-media-container--metal-paper-clip-y: 2653px;
$svg-media-container--metal-paper-clip-offset-x: -2603px;
$svg-media-container--metal-paper-clip-offset-y: -2653px;
$svg-media-container--metal-paper-clip-width: 512px;
$svg-media-container--metal-paper-clip-height: 512px;
$svg-media-container--metal-paper-clip-total-width: 6869px;
$svg-media-container--metal-paper-clip-total-height: 6919px;
$svg-media-container--metal-paper-clip-image: '/assets/images/svg-sprite.svg';
$svg-media-container--metal-paper-clip: (2603px, 2653px, -2603px, -2653px, 512px, 512px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--metal-paper-clip', );
$svg-media-container--microphone-name: 'media-container--microphone';
$svg-media-container--microphone-x: 3115px;
$svg-media-container--microphone-y: 3165px;
$svg-media-container--microphone-offset-x: -3115px;
$svg-media-container--microphone-offset-y: -3165px;
$svg-media-container--microphone-width: 58px;
$svg-media-container--microphone-height: 58px;
$svg-media-container--microphone-total-width: 6869px;
$svg-media-container--microphone-total-height: 6919px;
$svg-media-container--microphone-image: '/assets/images/svg-sprite.svg';
$svg-media-container--microphone: (3115px, 3165px, -3115px, -3165px, 58px, 58px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--microphone', );
$svg-media-container--minimize-name: 'media-container--minimize';
$svg-media-container--minimize-x: 3173px;
$svg-media-container--minimize-y: 3223px;
$svg-media-container--minimize-offset-x: -3173px;
$svg-media-container--minimize-offset-y: -3223px;
$svg-media-container--minimize-width: 489.3px;
$svg-media-container--minimize-height: 489.3px;
$svg-media-container--minimize-total-width: 6869px;
$svg-media-container--minimize-total-height: 6919px;
$svg-media-container--minimize-image: '/assets/images/svg-sprite.svg';
$svg-media-container--minimize: (3173px, 3223px, -3173px, -3223px, 489.3px, 489.3px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--minimize', );
$svg-media-container--presentation-name: 'media-container--presentation';
$svg-media-container--presentation-x: 3663px;
$svg-media-container--presentation-y: 3713px;
$svg-media-container--presentation-offset-x: -3663px;
$svg-media-container--presentation-offset-y: -3713px;
$svg-media-container--presentation-width: 60px;
$svg-media-container--presentation-height: 60px;
$svg-media-container--presentation-total-width: 6869px;
$svg-media-container--presentation-total-height: 6919px;
$svg-media-container--presentation-image: '/assets/images/svg-sprite.svg';
$svg-media-container--presentation: (3663px, 3713px, -3663px, -3713px, 60px, 60px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--presentation', );
$svg-media-container--presentation2-name: 'media-container--presentation2';
$svg-media-container--presentation2-x: 3723px;
$svg-media-container--presentation2-y: 3773px;
$svg-media-container--presentation2-offset-x: -3723px;
$svg-media-container--presentation2-offset-y: -3773px;
$svg-media-container--presentation2-width: 60px;
$svg-media-container--presentation2-height: 60px;
$svg-media-container--presentation2-total-width: 6869px;
$svg-media-container--presentation2-total-height: 6919px;
$svg-media-container--presentation2-image: '/assets/images/svg-sprite.svg';
$svg-media-container--presentation2: (3723px, 3773px, -3723px, -3773px, 60px, 60px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--presentation2', );
$svg-media-container--push-pin-name: 'media-container--push-pin';
$svg-media-container--push-pin-x: 3783px;
$svg-media-container--push-pin-y: 3833px;
$svg-media-container--push-pin-offset-x: -3783px;
$svg-media-container--push-pin-offset-y: -3833px;
$svg-media-container--push-pin-width: 485.999px;
$svg-media-container--push-pin-height: 485.999px;
$svg-media-container--push-pin-total-width: 6869px;
$svg-media-container--push-pin-total-height: 6919px;
$svg-media-container--push-pin-image: '/assets/images/svg-sprite.svg';
$svg-media-container--push-pin: (3783px, 3833px, -3783px, -3833px, 485.999px, 485.999px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--push-pin', );
$svg-media-container--rotate-name: 'media-container--rotate';
$svg-media-container--rotate-x: 4269px;
$svg-media-container--rotate-y: 4319px;
$svg-media-container--rotate-offset-x: -4269px;
$svg-media-container--rotate-offset-y: -4319px;
$svg-media-container--rotate-width: 206.519px;
$svg-media-container--rotate-height: 206.519px;
$svg-media-container--rotate-total-width: 6869px;
$svg-media-container--rotate-total-height: 6919px;
$svg-media-container--rotate-image: '/assets/images/svg-sprite.svg';
$svg-media-container--rotate: (4269px, 4319px, -4269px, -4319px, 206.519px, 206.519px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--rotate', );
$svg-media-container--speaking-name: 'media-container--speaking';
$svg-media-container--speaking-x: 4476px;
$svg-media-container--speaking-y: 4526px;
$svg-media-container--speaking-offset-x: -4476px;
$svg-media-container--speaking-offset-y: -4526px;
$svg-media-container--speaking-width: 297px;
$svg-media-container--speaking-height: 297px;
$svg-media-container--speaking-total-width: 6869px;
$svg-media-container--speaking-total-height: 6919px;
$svg-media-container--speaking-image: '/assets/images/svg-sprite.svg';
$svg-media-container--speaking: (4476px, 4526px, -4476px, -4526px, 297px, 297px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--speaking', );
$svg-media-container--sync-name: 'media-container--sync';
$svg-media-container--sync-x: 4773px;
$svg-media-container--sync-y: 4823px;
$svg-media-container--sync-offset-x: -4773px;
$svg-media-container--sync-offset-y: -4823px;
$svg-media-container--sync-width: 60.442px;
$svg-media-container--sync-height: 60.442px;
$svg-media-container--sync-total-width: 6869px;
$svg-media-container--sync-total-height: 6919px;
$svg-media-container--sync-image: '/assets/images/svg-sprite.svg';
$svg-media-container--sync: (4773px, 4823px, -4773px, -4823px, 60.442px, 60.442px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--sync', );
$svg-media-container--video-camera-name: 'media-container--video-camera';
$svg-media-container--video-camera-x: 4834px;
$svg-media-container--video-camera-y: 4884px;
$svg-media-container--video-camera-offset-x: -4834px;
$svg-media-container--video-camera-offset-y: -4884px;
$svg-media-container--video-camera-width: 512px;
$svg-media-container--video-camera-height: 512px;
$svg-media-container--video-camera-total-width: 6869px;
$svg-media-container--video-camera-total-height: 6919px;
$svg-media-container--video-camera-image: '/assets/images/svg-sprite.svg';
$svg-media-container--video-camera: (4834px, 4884px, -4834px, -4884px, 512px, 512px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--video-camera', );
$svg-media-container--video-lecture-name: 'media-container--video-lecture';
$svg-media-container--video-lecture-x: 5346px;
$svg-media-container--video-lecture-y: 5396px;
$svg-media-container--video-lecture-offset-x: -5346px;
$svg-media-container--video-lecture-offset-y: -5396px;
$svg-media-container--video-lecture-width: 437px;
$svg-media-container--video-lecture-height: 437px;
$svg-media-container--video-lecture-total-width: 6869px;
$svg-media-container--video-lecture-total-height: 6919px;
$svg-media-container--video-lecture-image: '/assets/images/svg-sprite.svg';
$svg-media-container--video-lecture: (5346px, 5396px, -5346px, -5396px, 437px, 437px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'media-container--video-lecture', );
$svg-notification-bell-name: 'notification-bell';
$svg-notification-bell-x: 5783px;
$svg-notification-bell-y: 5833px;
$svg-notification-bell-offset-x: -5783px;
$svg-notification-bell-offset-y: -5833px;
$svg-notification-bell-width: 611.999px;
$svg-notification-bell-height: 611.999px;
$svg-notification-bell-total-width: 6869px;
$svg-notification-bell-total-height: 6919px;
$svg-notification-bell-image: '/assets/images/svg-sprite.svg';
$svg-notification-bell: (5783px, 5833px, -5783px, -5833px, 611.999px, 611.999px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'notification-bell', );
$svg-phone-call-name: 'phone-call';
$svg-phone-call-x: 6395px;
$svg-phone-call-y: 6445px;
$svg-phone-call-offset-x: -6395px;
$svg-phone-call-offset-y: -6445px;
$svg-phone-call-width: 473.806px;
$svg-phone-call-height: 473.806px;
$svg-phone-call-total-width: 6869px;
$svg-phone-call-total-height: 6919px;
$svg-phone-call-image: '/assets/images/svg-sprite.svg';
$svg-phone-call: (6395px, 6445px, -6395px, -6445px, 473.806px, 473.806px, 6869px, 6919px, '/assets/images/svg-sprite.svg', 'phone-call', );

@function px2em($px, $base-font-size: $svg-icon-font-size) {
	@if unitless($px) {
		@warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels.";
		@return px2em($px * 1px, $base-font-size);
	} @else if unit($px) == em {
		@return $px;
	}
	@return ($px / $base-font-size) * 1em;
}

@mixin svg-sprite-width($sprite) {
	width: px2em(nth($sprite, 5));
}

@mixin svg-sprite-height($sprite) {
	height: px2em(nth($sprite, 6));
}

@mixin svg-sprite-position($sprite) {
	$sprite-offset-x: px2em(nth($sprite, 3));
	$sprite-offset-y: px2em(nth($sprite, 4));
	background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin svg-sprite-image($sprite) {
	$sprite-image: nth($sprite, 9);
	background-image: url(#{$sprite-image});
}

@mixin svg-sprite($sprite, $svg-basic-font-size: $svg-icon-font-size) {
	font-size: $svg-basic-font-size;
	background-size: px2em($svg-sprite-width) px2em($svg-sprite-height);
	@include svg-sprite-image($sprite);
	@include svg-sprite-position($sprite);
	@include svg-sprite-width($sprite);
	@include svg-sprite-height($sprite);
}
