.group-admin {
  table {
	max-width: 950px;
	margin: 0 auto;

	thead, tbody {
	  border: 1px solid #ddd !important;
	}

	td > * {
	  display: inline-block !important;
	  vertical-align: middle;
	}
  }

  .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
	border-width: 0;
	overflow: visible;
  }

  body .ui-datatable .ui-datatable-data tr.ui-datatable-even {
	background: #f2f2f2;
  }

  button {
	&[icon=fa-edit],
	&[icon=fa-check] {
	  background: url("../images/icons/checked.png");
	  border: 0;
	  background-size: cover;
	  display: inline-block;
	  width: 32px;
	  height: 32px;
	  padding: 0;
	}

	&[icon=fa-close] {
	  background: url("../images/icons/cancel.png");
	  border: 0;
	  background-size: cover;
	  display: inline-block;
	  width: 32px;
	  height: 32px;
	  padding: 0;
	}
  }

  .role {
	width: 110px;
  }
}

.group-form {
  .ui-dropdown-trigger {
	margin: 0 !important;
  }
}
