// https://graphicriver.net/item/probrand-powerpoint-templates/6035121?ref=pandaman1&ref=pandaman1&clickthrough_id=809440733&redirect_back=true
$key-lime-pie: #B4CF2A;
$rio-grande: #B5D301; //
$pistachio: #95B901;
$limeade: #8DA700;
$olive: #647800; //

$turbo: #EEE800; //
$jonquil: #EBFC96;
$citrine-white: #F9F7D0; //
$finch: #646345; //

$cod-gray: #171717;
$mine-shaft: #333333;
$tundora: #4D4D4D;
$dove-gray: #707070;
$silver-chalice: #ABABAB; //
$silver: #C2C2C2;
$gallery: #ECECEC;
$white: #fff;

$strike-master: #966489;
$comet: #5A5F87;
$goblin: #43865A;
$mantis: #68B956;

$shakespeare: #5BBBD3;
$regent-st-blue: #A6D7E6;

$color-primary: $rio-grande;
$color-primary-active: $limeade;

$color-basic: $tundora;
$color-inverted: $white;

$color-disabled: $silver;
