@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&subset=latin-ext');

$headline-font: 300 30px/36px 'Julius Sans One', Calibri, sans-serif;
$headline-main-font: 300 24px/30px 'Julius Sans One', Calibri, sans-serif;
$subheadline-font: 300 24px/30px 'Julius Sans One', Calibri, sans-serif;

$basic-font: 300 16px/20px 'Raleway', Calibri, sans-serif;
$strong-font: 800 16px/20px 'Raleway', Calibri, sans-serif;
$large-font: 300 26px/32px 'Raleway', Calibri, sans-serif;
